    <h3>Your Order has been Placed Successfully</h3>
 

    <h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>    
      <th>Price</th>    
      <th>Action</th>    
      </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.address %></td>
        <% if order.subtotal > 0 %>
        <td><%= order.subtotal %>
        <td><%= link_to 'View', order %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
      