<div style="text-align:center;background:aliceblue;">
 <a style="text-decoration: none;
 color: unset;
 font-size: 24px;"> <%= @resource.email %> </a>

 <p style="color: initial;text-align: justify;letter-spacing: 3px;font-size: 17px;">Someone has requested a link to change your password. You can do this by clicking the below Button.</p>
    
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),{:style=>"text-decoration: none;
color: black;
border: 1px solid black;
border-radius: 3px;
padding: 4px;
background-color: abisque;
font-size: large;
text-transform: capitalize;"} %></p>

<p style="color: initial;text-align: justify;letter-spacing: 3px;font-size: 17px;">If you didn't request this, please ignore this email.</p>
<p style="color: initial;text-align: justify;letter-spacing: 3px;font-size: 17px;">Your password won't change until you access the link above and create a new one.</p>
<div>
